body {
    margin: 0px;
    border: 0px;
    flex-direction: left;
}
#header {
    width: 100%;
    height: 120%;
    background: black;
    color: white;
    position: flex;
}
#sidebar {
    width: 300px;
    height: 400px;
    background: yellowgreen;
    flex: left;
}
#data {
    height: 700px;
    background:orangered;
    color: aliceblue;
    font-family: aqua;

}
#adminlogo {
    background: red;
    border-radius: 50px;
    
}
ul li{
    padding: 20px;
    border-bottom: 2px solid grey;
}
ul li hover {
    background: orange;
    color:white;
}
