body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    /* height: 100vh; */
}
.main-container {
    width: 100%;
    height: auto;;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 70px;
}
header {
    /* border: 2px dotted black; */
    border: 2px dotted black;
    background: red;
    display:flex;
}

    nav > li {
        margin: auto;
        width: 100%;
        height: auto;
        color:aliceblue;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 15px;
        border-radius: 10px;
        background:transparent;
        padding: 10px; 
        text-align: center;
        /* border: 1px solid rgb(225, 0, 255); */
      }
    
div.logo {
    border: 1px solid green;

}
nav {
    border:1px solid orange;
}ul {
    border: 1px solid purple;
    list-style: none;
}
main {
    border: 2px dotted red;
    
    background: green;
}
footer {
    border: 2px dotted orangered;
    background: green;
}
main {
    border: 2px dotted red;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.video {
    width: 100%;
    height: 50%;
    margin-bottom:  40px;
}
.video-box {
    background: blue;
}
.video-text {
    background: orchid;
}
@media(min-width: 640px) {
    main {
        flex-direction: row;
    }
 nav ul {
        border: 5px solid red;
        display: flex;
        justify-content: flex-end;
    }
    nav ul li {

    }
}